<div>
  <dt>
    <%= t('owned') %>
    <span data-toggle="tooltip" title="<%= t('tooltips.ownership') %>">
      <%= fa_icon('question-circle') %>
    </span>
  </dt>
  <dd>
    <%= ownership(@character, collectable) %>
    <%= rarity(collectable) %>
  </dd>
</div>
