<% title(t('settings.title')) %>
<% description('Manage your user and character settings.') %>

<div class="row">
  <div class="col-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title"><%= t('settings.authentication') %></h5>
      </div>
      <div class="card-body card-table">
        <table class="table table-striped">
          <% %w(discord google_oauth2).each do |provider| %>
            <tr>
              <td class="pl-3">
                <%= provider_name(provider) %>
              </td>
              <td>
                <%= identity_status(@identities, provider) %>
              </td>
              <td class="pr-3">
                <%= unlink_identity_button(@identities, provider) %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="card shadow mt-4">
      <div class="card-header">
        <h5 class="card-title"><%= t('settings.user') %></h5>
      </div>
      <div class="card-body py-3">
        <%= form_for(@user, url: user_settings_path, html: { class: 'form' }) do |f| %>
          <div class="form-group">
            <%= f.label :database, t('settings.database') %>
            <%= f.select :database, database_options(@user.database), {},
              class: 'form-control' %>
          </div>
          <div class="text-right mt-3">
            <%= f.submit t('save'), class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @character.present? && @character.verified_user?(@user) %>
      <div class="card shadow mt-4">
        <div class="card-header">
          <h5 class="card-title"><%= t('settings.character') %></h5>
        </div>
        <div class="card-body py-3">
          <%= form_for(@character, url: character_settings_path, html: { class: 'form' }) do |f| %>
            <div class="form-check mb-3">
              <%= f.check_box :public, class: 'form-check-input' %>
              <%= f.label :public, t('settings.make_public'), class: 'form-check-label' %>
            </div>
            <div class="form-field">
              <%= f.label :pricing_data_center, t('settings.pricing_data_center') %>
              <%= f.select :pricing_data_center, data_center_options(@character),
                { include_blank: t('characters.server') }, class: 'form-control' %>
            </div>
            <div class="text-right mt-3">
              <%= f.submit t('save'), class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
