<div class="d-flex my-3 align-items-center">
  <div class="mr-3">
    <%= avatar(character) %>
  </div>
  <div>
    <b><%= character.name %></b><br>
    <%= character.server %>
  </div>
  <div class="mx-3">
    <%= user_avatar(user) %>
  </div>
  <%= username(user) %>
</div>
