<% title(t('users.sign_in')) %>
<% description('Sign in to access more features like manual collection tracking.') %>

<div class="row">
  <div class="col-12 col-lg-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><%= t('users.sign_in') %></h5>
      </div>
      <div class="card-body py-3">
        <h5><%= t('users.sign_in_header') %></h5>
        <ul>
          <li><%= t('users.sign_in_benefit1') %></li>
          <li><%= t('users.sign_in_benefit2') %></li>
          <li><%= t('users.sign_in_benefit3') %></li>
          <li><%= t('users.sign_in_benefit4') %></li>
        </ul>
        <hr>
        <div class="d-flex flex-column align-items-center gap-2">
          <% %w(discord google_oauth2).each do |provider| %>
            <%= button_to fab_icon(Identity.icon(provider), text: t('users.sign_in_with', provider: Identity.formatted_name(provider))),
              omniauth_authorize_path(User, provider), class: "btn #{Identity.icon(provider)}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
