<% title(@fashion.name) %>
<% description(@fashion.description.truncate(150)) %>
<% image(@fashion.large_image_url) %>

<div class="row">
  <div class="col-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h5 class="card-title"><%= @fashion.name %></h5>
      </div>
      <div class="card-body pb-3">
        <div class="d-flex">
          <div class="d-none d-sm-block mr-4">
            <%= large_image(@fashion) %>
          </div>
          <div class="d-flex flex-column flex-info">
            <div class="d-flex flex-wrap">
              <div>
                <dt><%= t('tradeable') %></dt>
                <dd><%= tradeable(@fashion) %></dd>
              </div>
              <%= render 'shared/ownership', collectable: @fashion %>
              <div>
                <dt><%= t('patch') %></dt>
                <dd><%= @fashion.patch %></dd>
              </div>
            </div>
            <dt><%= t('description') %></dt>
            <dd class="mb-0"><%= format_text(@fashion.description) %></dd>
            <dt><%= t('source') %></dt>
            <dd class="mb-0"><%= sources(@fashion, list: true) %></dd>
            <%= render('shared/item', collectable: @fashion) %>
            <div class="d-block d-sm-none">
              <%= large_image(@fashion) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
