<% title(@record.name) %>
<% description(@record.description.truncate(150)) %>
<% image(@record.image_url) %>

<div class="row">
  <div class="col-12 col-xl-8 offset-xl-2">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><%= format_record_number(@record) %>. <%= @record.name %></h5>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="d-none d-xl-block mr-4">
            <%= safe_image_tag(@record.image_url, class: 'image-occult-record-large') %>
          </div>
          <div class="d-flex flex-column flex-info">
            <div class="d-flex flex-wrap">
              <%= render 'shared/ownership', collectable: @record %>
              <div>
                <dt><%= t('patch') %></dt>
                <dd><%= @record.patch %></dd>
              </div>
            </div>
            <div class="d-block d-xl-none">
              <%= safe_image_tag(@record.image_url, class: 'image-occult-record-large fit') %>
            </div>
            <dt><%= t('source') %></dt>
            <dd><%= sources(@record, list: true) %></dd>
            <dt><%= t('description') %></dt>
            <dd><%= format_text_long(@record.description) %></dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
